<div class="container-fluid">
  <!-- First Row: Header with Centered Logo -->
  <div class="row" style="height: 10vh">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <img
        src="assets/images/logo500.svg"
        alt="Logo"
        style="height: 10vh; width: auto"
      />
    </div>
  </div>

  <!-- Second Row: Links Bar -->
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
      <div class="container">
        <!-- Secondary Header with Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 3</a>
            </li>
            <!-- Add more links as needed -->
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
