<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <!-- Navbar Brand with Centered Logo -->
    <a class="navbar-brand mx-auto" href="#">
      <img
        src="assets/images/logo500.svg"
        alt="Logo"
        style="max-height: 10vh; width: auto"
      />
    </a>
  </div>
</nav>

<!-- Links Bar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li>
        <!-- Add more links as needed -->
      </ul>
    </div>
  </div>
</nav>
