/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.stacked-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  min-height: 80vh;
}

.component-wrapper {
  margin-bottom: 20px; /* Adjust the margin between components as needed */
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh; /* Adjust the height as needed */
  background-color: #333; /* Add a background color if desired */
  color: #fff; /* Text color for header and footer */
}
