/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.stacked-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  max-height: 80vh;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh; /* Adjust the height as needed */
  background-color: #333; /* Add a background color if desired */
  color: #fff; /* Text color for header and footer */
}

.threejs-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
